{
    "extends": "airbnb",
    "env": {
        "browser": true,
        "jest/globals": true
    },
    "plugins": [
        "jest"
    ],
    "globals": {
        "_": true
    },
    "rules": {
        "linebreak-style": [
            "error",
            "windows"
        ]
    }
}