{
    "extends": "airbnb",
    "env": {
        "browser": true
    },
    "globals": {
        "_": true,
        "d3": true
    },
    "rules": {
        "linebreak-style": [
            "error",
            "windows"
        ]
    }
}